source/trunk/Demo/vitro-gateway/src/main/java/alter/vitro/vgw/service/query/xmlmessages/enablednodessynch/fromvsp/fromvsp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ #--------------------------------------------------------------------------
  ~ # Copyright (c) 2013 VITRO FP7 Consortium.
  ~ # All rights reserved. This program and the accompanying materials
  ~ # are made available under the terms of the GNU Lesser Public License v3.0 which accompanies this distribution, and is available at
  ~ # http://www.gnu.org/licenses/lgpl-3.0.html
  ~ #
  ~ # Contributors:
  ~ #     Antoniou Thanasis (Research Academic Computer Technology Institute)
  ~ #     Paolo Medagliani (Thales Communications & Security)
  ~ #     D. Davide Lamanna (WLAB SRL)
  ~ #     Alessandro Leoni (WLAB SRL)
  ~ #     Francesco Ficarola (WLAB SRL)
  ~ #     Stefano Puglia (WLAB SRL)
  ~ #     Panos Trakadas (Technological Educational Institute of Chalkida)
  ~ #     Panagiotis Karkazis (Technological Educational Institute of Chalkida)
  ~ #     Andrea Kropp (Selex ES)
  ~ #     Kiriakos Georgouleas (Hellenic Aerospace Industry)
  ~ #     David Ferrer Figueroa (Telefonica Investigación y Desarrollo S.A.)
  ~ #
  ~ #--------------------------------------------------------------------------
  -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="EnableNodesReq" type="EnableNodesReqType"/>
    <xs:complexType name="EnableNodesReqType">
        <xs:sequence>
            <xs:element type="xs:string" name="message-type"/>
            <xs:element type="enabledNodesListType" name="enabledNodesList"/>
            <xs:element type="xs:string" name="timestamp"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="enabledNodesListType">
        <xs:sequence>
            <xs:element type="enabledNodesListItemType" name="enabledNodesListItem" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="enabledNodesListItemType">
        <xs:sequence>
            <xs:element type="xs:string" name="nodeId"/>
            <xs:element type="xs:string" name="status"/>
            <xs:element type="xs:string" name="ofRemoteTimestamp"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
