source/trunk/Demo/vitroUI/webWS/src/main/resources/UNICA_API_SOAP_m2m_subscription_services_v1_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- October, 2010 -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:m2m_subs_s1="http://www.telefonica.com/wsdl/UNICA/SOAP/m2m/subscription/v1/services" xmlns:m2m_subs_s1t="http://www.telefonica.com/schemas/UNICA/SOAP/m2m/subscription/v1/types" xmlns:uch="http://www.telefonica.com/wsdl/UNICA/SOAP/common/v1/security_headers" xmlns:ucf="http://www.telefonica.com/wsdl/UNICA/SOAP/common/v1/faults" xmlns:utih="http://www.telefonica.com/wsdl/UNICA/SOAP/common/v2/transaction_info_header" targetNamespace="http://www.telefonica.com/wsdl/UNICA/SOAP/m2m/subscription/v1/services">
	<wsdl:import namespace="http://www.telefonica.com/wsdl/UNICA/SOAP/common/v1/faults" location="UNICA_API_SOAP_common_faults_v1_0.wsdl"/>
	<wsdl:import namespace="http://www.telefonica.com/wsdl/UNICA/SOAP/common/v1/security_headers" location="UNICA_API_SOAP_common_security_headers_v1_0.wsdl"/>
    <wsdl:import namespace="http://www.telefonica.com/wsdl/UNICA/SOAP/common/v2/transaction_info_header" location="UNICA_API_SOAP_common_transaction_info_header_v2_0.wsdl"/>
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.telefonica.com/wsdl/UNICA/SOAP/m2m/v1/" elementFormDefault="qualified">
			<xsd:import namespace="http://www.telefonica.com/schemas/UNICA/SOAP/m2m/subscription/v1/types" schemaLocation="UNICA_API_SOAP_m2m_subscription_types_v1_1.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="SubscribeRequest">
		<wsdl:part name="parameters" element="m2m_subs_s1t:subscribe"/>
	</wsdl:message>
	<wsdl:message name="SubscribeResponse">
		<wsdl:part name="parameters" element="m2m_subs_s1t:subscribeResponse"/>
	</wsdl:message>
	<wsdl:message name="UnsubscribeRequest">
		<wsdl:part name="parameters" element="m2m_subs_s1t:unsubscribe"/>
	</wsdl:message>
	<wsdl:message name="UnsubscribeResponse">
		<wsdl:part name="parameters" element="m2m_subs_s1t:unsubscribeResponse"/>
	</wsdl:message>
	<wsdl:message name="DisconnectRequest">
		<wsdl:part name="parameters" element="m2m_subs_s1t:disconnect"/>
	</wsdl:message>
	<wsdl:message name="DisconnectResponse">
		<wsdl:part name="parameters" element="m2m_subs_s1t:disconnectResponse"/>
	</wsdl:message>
	<wsdl:portType name="SubscriptionPort">
		<wsdl:operation name="subscribe">
			<wsdl:input message="m2m_subs_s1:SubscribeRequest"/>
			<wsdl:output message="m2m_subs_s1:SubscribeResponse"/>
			<wsdl:fault name="ClientException" message="ucf:ClientException"/>
			<wsdl:fault name="ServerException" message="ucf:ServerException"/>
		</wsdl:operation>
		<wsdl:operation name="unsubscribe">
			<wsdl:input message="m2m_subs_s1:UnsubscribeRequest"/>
			<wsdl:output message="m2m_subs_s1:UnsubscribeResponse"/>
			<wsdl:fault name="ClientException" message="ucf:ClientException"/>
			<wsdl:fault name="ServerException" message="ucf:ServerException"/>
		</wsdl:operation>
		<wsdl:operation name="disconnect">
			<wsdl:input message="m2m_subs_s1:DisconnectRequest"/>
			<wsdl:output message="m2m_subs_s1:DisconnectResponse"/>
			<wsdl:fault name="ClientException" message="ucf:ClientException"/>
			<wsdl:fault name="ServerException" message="ucf:ServerException"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SubscriptionSOAPBinding" type="m2m_subs_s1:SubscriptionPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="subscribe">
			<soap:operation soapAction="urn:subscribe"/>
			<wsdl:input>
				<soap:header message="uch:SimpleOAuthHeader" part="simpleOAuthHeader" use="literal"/>
                <soap:header message="utih:TransactionInfoHeader" part="transactionInfoHeader" use="literal"/>                
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ClientException">
				<soap:fault name="ClientException" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ServerException">
				<soap:fault name="ServerException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="unsubscribe">
			<soap:operation soapAction="urn:unsubscribe"/>
			<wsdl:input>
				<soap:header message="uch:SimpleOAuthHeader" part="simpleOAuthHeader" use="literal"/>
                <soap:header message="utih:TransactionInfoHeader" part="transactionInfoHeader" use="literal"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ClientException">
				<soap:fault name="ClientException" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ServerException">
				<soap:fault name="ServerException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="disconnect">
			<soap:operation soapAction="urn:disconnect"/>
			<wsdl:input>
				<soap:header message="uch:SimpleOAuthHeader" part="simpleOAuthHeader" use="literal"/>
                <soap:header message="utih:TransactionInfoHeader" part="transactionInfoHeader" use="literal"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ClientException">
				<soap:fault name="ClientException" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ServerException">
				<soap:fault name="ServerException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="M2MSubscriptionService">
		<wsdl:port name="Subscription" binding="m2m_subs_s1:SubscriptionSOAPBinding">
			<soap:address location="http://localhost/UNICA_SDP/M2M/Subscription"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
