source/trunk/Demo/vitro-gateway/vitro-gateway/src/main/java/alter/vitro/vgw/service/query/xmlmessages/response/tempResults.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (c) 2013 VITRO FP7 Consortium.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the GNU Lesser Public License v3.0 which accompanies this distribution, and is available at
  http://www.gnu.org/licenses/lgpl-3.0.html
  
  Contributors:
      Antoniou Thanasis
      Paolo Medagliani
      D. Davide Lamanna
      Panos Trakadas
      Andrea Kropp
      Kiriakos Georgouleas
      Panagiotis Karkazis
      David Ferrer Figueroa
      Francesco Ficarola
      Stefano Puglia
-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="QueryResponse" type="QueryResponseType"/>
  <xs:complexType name="respFunctionType">
    <xs:sequence>
      <xs:element type="xs:string" name="fid"/>
      <xs:element type="outType" name="out" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QueryResponseType">
    <xs:sequence>
      <xs:element type="xs:string" name="message-type"/>
      <xs:element type="xs:string" name="queryDefID"/>
      <xs:element type="xs:string" name="query-count"/>
      <xs:element type="xs:string" name="responderPeerID"/>
      <xs:element type="xs:string" name="responderName"/>
      <xs:element type="respFunctionsListType" name="reqFunctionsList"/>
      <xs:element type="servContinuationListType" name="servContList"/>
      <xs:element type="xs:string" name="serviceDeployStatus"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="timePeriodType">
    <xs:sequence>
      <xs:element type="xs:string" name="from"/>
      <xs:element type="xs:string" name="to"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="respFunctionsListType">
    <xs:sequence>
      <xs:element type="respFunctionType" name="reqFunction" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="outType">
    <xs:sequence>
      <xs:element type="xs:string" name="mid"/>
      <xs:element type="xs:string" name="sid"/>
      <xs:element type="xs:string" name="val"/>
      <xs:element type="xs:string" name="NumOfAggrVal"/>
      <xs:element type="timePeriodType" name="timePeriod"/>
    </xs:sequence>
  </xs:complexType>
    <xs:complexType name="servContinuationListType">
        <xs:sequence>
            <xs:element type="servContReplcItemType" name="servContReplcItem" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="servContReplcItemType">
        <xs:sequence>
            <xs:element type="xs:string" name="nodeSourceId"/>
            <xs:element type="xs:string" name="nodeReplmntId"/>
            <xs:element type="xs:string" name="capabilityId"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
